.container {
    max-width: 98%;
}

header {
    margin-bottom: 3vw;
}

form {
    margin-top: 50px;
    margin: auto;
    width: 100%;
    border: 2px solid black;
    display: block;
   
}

/*titulos principais*/

#titulo {
    text-align: center;
    max-width: 50%;
    margin: auto;
}

h1 {
    font-size: 15px;
}

h2 {
    float: right;
    font-size: 11px;
}

h3 {
    background-color: rgba(169, 169, 169, 0.808);
    font-size: 15px;
}

p {
    font-weight: bold;
    width: 300px;
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 3px;
}

#p2 {
    font-weight: bold;
    width: 300px;
    font-size: 12px;
    margin-left: 60px;
    margin-bottom: 3px;
}

/*input geral*/

input {
    font-size: 14px;
    height: 30px;
}

/*bordas de algumas divs*/

.borda {
    margin: auto;
    width: 99.5%;
    height: 100%;
    margin-bottom: 10px;
    border: 2px solid #DEE2E6;
    display: block;
}

.borda2 {
    margin: auto;
    width: 99.5%;
    margin-bottom: 10px;
    border: 2px solid #DEE2E6;
    display: block;

}

.borda3 {
    margin: auto;
    width: 99.5%;
    margin-bottom: 10px;
    border: 2px solid #DEE2E6;
    background-color: darkgray;
}

/*label geral*/

label {
    border-bottom: none;
    display: block;
    font-size: 12px;
    font-weight: bold;
}

/* cada i uma div com input*/

.i1 {
    margin-left: 5px;
    max-width: 400px;
}

.i2 {
    margin-left: 5px;
    width: 300px;
}

.i3 {
    margin-bottom: 3px;
    margin-left: 5px;
    width: 170px;
}

.i4 {
    margin: 0px;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 250px;
}

.i5 {
    margin-bottom: 3px;
    margin-left: 5px;
}

.i6 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 350px;
}

.i7 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 350px;
    min-width: 200px;
}

.i8 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 350px;
    min-width: 200px;
}

.i9 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 700px;
    min-width: 200px;
}

.i10 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 350px;
    min-width: 200px;
}

.i11 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 1000px;
    min-width: 200px;
}

.i12 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 350px;
    min-width: 200px;
}

.i13 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 1510px;
    min-width: 200px;
}

.i14 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 500px;
    min-width: 200px;
}

.i15 {

    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 200px;
    min-width: 200px;
}

.i16 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 250px;
    min-width: 200px;
}

.i17 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 70px;
    min-width: 70px;
}

.i18 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 160px;
    min-width: 100px;
}

.i19 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 605px;
    min-width: 300px;
}

.i20 {
    margin-bottom: 3px;
    margin-left: 5px;
    width: 190px;
}

.i21 {
    margin-bottom: 3px;
    margin-left: 5px;
    width: 140px;
}

.i22 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 1230px;
    min-width: 200px;
}

.i23 {
    margin-bottom: 3px;
    margin-left: 5px;
    width: 214px;
}

.i24 {

    margin-top: 8px;
    width: 100px;
}


.i25 {

    margin-top: 8px;
    width: 310px;
}

.i26 {
    margin-top: 8px;
    max-width: 800px;

}

.i27 {

    margin-top: 8px;

    width: 100px;
}

.i28 {
    margin-top: 8px;
    width: 100px;
}

.i29 {
    margin-bottom: 3px;
    margin-left: 5px;
    width: 250px;
}

.i30 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 1000px;
}

.i31 {
    margin-bottom: 3px;
    margin-left: 5px;
    width: 150px;
}

.i32 {
    margin-bottom: 3px;
    margin-left: 5px;
    width: 170px;
}

.i33 {
    margin-bottom: 3px;
    margin-left: 5px;
    max-width: 450px;
}

.i34 {
    margin-bottom: 3px;
    margin-left: 5px;
    width: 130px;
}

.i35 {
    margin-bottom: 3px;
    margin-left: 5px;
    width: 275px;
}

.i36 {
    margin-bottom: 3px;
    margin-left: 5px;
    width: 160px;
}

.i37 {
    margin-bottom: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 150px;
}


.i38 {
    margin-bottom: 3px;
    max-width: 130px;
}

.i39 {
    margin-bottom: 3px;
    max-width: 100px;
}

.i40 {
    margin-bottom: 3px;
    max-width: 100px;
}

.i41 {
    margin-bottom: 3px;
    max-width: 76px;
}

.i42 {
    margin-bottom: 3px;
    width: 240;
}

.i43 {
    margin-bottom: 3px;

    max-width: 460px;
}

.i44 {
    margin-bottom: 3px;

    width: 70px;
}

.i45 {
    margin-bottom: 3px;

    width: 40px;
}

.i46 {
    margin-bottom: 3px;

    width: 40px;
}

.i47 {
    margin-bottom: 3px;
    width: 80px;
}

.i48 {
    margin-bottom: 3px;
    width: 150px;
}

.i49 {
    margin-bottom: 3px;
    margin-left: 5px;
    width: 130px;
}

.i50 {
    margin-bottom: 3px;
    margin-top: 5px;
    margin: auto;
    width: 50px;
}

.i51 {
    margin-bottom: 3px;
    margin-top: 5px;
    margin: auto;
    width: 50px;
}


.i52 {
    margin-bottom: 3px;
    margin-top: 5px;
    margin-left: 5px;
    width: 280px;
}

.i53 {
    margin-bottom: 3px;
    margin-top: 5px;
    max-width: 500px;
}

.i54 {
    margin-bottom: 3px;
    margin-top: 5px;
    margin: auto;
    width: 50px;
}


.i55 {
    margin-bottom: 3px;
    margin-top: 5px;

    width: 300px;
}

.i56 {
    margin-bottom: 3px;
    margin-top: 5px;
    width: 50px;
}

.i57 {
    margin-bottom: 3px;
    margin-top: 5px;
    width: 130px;
}


.i58 {
    margin-bottom: 3px;
    font-size: 15px;
    width: 130px;
}

.i59 {
    margin-bottom: 3px;
    max-width: 220px;
}

.i60 {
    margin-bottom: 3px;
    margin-right: 10px;
    width: 100%;

}

.i61 {
    margin-left: 5px;
    margin-bottom: 3px;
    width: 250px;
}


.i62 {
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: 5px;
}